.tasksContainer {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin: 30px;
    /* margin-top: 60px; */
    gap: 50px;
    position: absolute;
    left: 105px;
    width: -webkit-fill-available;
  }
  
  .tasksContentWrapper h2 {
    color: #fff;
    margin-top: 0;
  }
  
  .taskInfoContainer {
    background: linear-gradient(132deg, rgb(1, 96, 105) 0%, rgb(0, 72, 95) 100%);
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
  
    height: fit-content;
  }
  
  .tasksInfoWrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px;
  }
  
  .taskInfoContainer h2 {
    margin-top: 0;
    color: darkorange;
  }
  
  .tasksInfoWrapper button {
    background: aliceblue;
    padding: 8px;
  }
  
  .tasksInfoWrapper button:hover {
    background-color: antiquewhite;
  }
  
  .initalTaskHeader {
    text-align: center;
  }
  
  .initalTaskHeader img {
    height: 100px;
  }
  
  .tasksContentWrapper {
    color: #fff;
    /* background: rgba(0, 0, 139, 0.2);
      padding: 20px 40px;
      box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 10%); */
    height: fit-content;
  }
  
  .taskCard {
    color: #fff !important;
    background: linear-gradient(132deg, rgb(20, 22, 22) 0%, rgb(255, 255, 255) 100%);
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
  
    height: fit-content;
  }
  
  .taskSubmissionForm,
  .taskCard {
    display: grid;
    gap: 12px;
  }
  
  .taskSubmissionForm input {
    width: 70%;
    height: 32px;
    border-radius: 4px;
    margin-top: 4px;
    background-color: aliceblue !important;
    padding-left: 8px;
    /* background-color: rgba(138, 43, 226, 0.4);
      border-color: rgba(138, 43, 226, 0.4); */
  }
  
  .taskSubmissionForm .readOnlyInput input {
    background-color: slategray !important;
    border-color: slategray !important;
  }
  
  .taskSubmissionForm label {
    color: greenyellow;
  }
  
  .taskDescription {
    color: rgb(12, 12, 11);
    text-decoration: none;
    font-size: 18px;
  }
  
  .taskSubmissionForm button {
    width: max-content;
    background: blueviolet;
    margin-top: 12px;
  }
  
  .note {
    color: darkgrey;
  }
  
  .taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .taskStatus {
    padding: 8px;
    background: rgb(249, 247, 247);
    border-radius: 4px;
  }