.disabledFinishButton {
    color: darkgray !important;
    cursor: not-allowed !important;
    pointer-events: auto !important;
}

.finishButton {
    background-color: blueviolet;
}

.courseCompletion {
    background: coral;
    padding: 12px;
    color: white;
    width: max-content;
    font-size: 18px;
    border-radius: 4px;
}