.courseBarChartContainer {
    height: 500px;
    width: 730px;
    margin-top: 20px;
    background: linear-gradient(169deg, rgb(251, 251, 255) 18.82%, rgb(215, 223, 252) 100.00%);
    padding: 20px 40px;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 10%);
}

.courseBarChart text {
    stroke:black;
    font-weight: 100;
}

.courseBarChartContainer .recharts-legend-wrapper .recharts-legend-item-text {
    color: darkorange !important;
}

.courseBarChartContainer .recharts-legend-wrapper .recharts-surface path {
    fill: darkorange;
}